schedulerTest/schedulertest/src/main/mule/schedulertest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="schedulertestFlow" doc:id="2c2f028f-54ba-405e-be71-f0c3fd639976" maxConcurrency='1'>
		<scheduler doc:name="Scheduler" doc:id="78eff081-0749-4050-a5a2-33192e62e166" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<set-variable value="#[now()]" doc:name="Set Variable" doc:id="d9033a57-2856-4038-82db-d96b996f6e0c" variableName="Timestump"/>
		<logger level="INFO" doc:name="Logger" doc:id="8e4e54b5-2813-4c87-ad48-7c7c261d2d1d" message="#['LOG1'++ vars.Timestump]"/>
		<ee:transform doc:name="Transform Message" doc:id="9aaa43ed-fdd4-4b42-96c7-e91641dc12a9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::Runtime
output application/java
---
{ "user" : 1 } wait 90000]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c1b4c2bf-0cc7-4f18-89c5-1120ecee1f71" message="#['LOG2'++ vars.Timestump]"/>
	</flow>
</mule>
